<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Header -->
        <%if (locals.user !=undefined) { %>
            <%- include ('./partials/headerLogueado') %>
                <% }else{%>
                    <%- include ('./partials/headerDeslogueado')%> <!--hacer un headerDeslogueado-->
                        <% } %>
                            <!-- /Header -->

                            <!-- Novedades -->
                            <div class="container products-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="products-title">Editar productos</h2>

                                    </div>
                                    <!-- Show the "ultimos" products -->
                                    <h2 class="col-12">
                                        <% if (locals.user) { %>
                                            <% if (locals.user !=undefined ) { %>
                                                <form class="formModificado"
                                                    action="/products/edit/<%= locals.producto.id %>" method="POST">

                                                    <div>
                                                        <% if (locals.errors){ %>
                                                            <% for (let error in errors){ %>
                                                                <p>
                                                                    <%= errors[error].msg %>
                                                                </p>
                                                                <% } %>
                                                                    <% } %>
                                                    </div>
                                                    <div>
                                                        <label for="Nombre_Producto">Nombre del Producto:
                                                            <input id="nombreProducto" name="nombreProducto" type="text"
                                                                value="<%= locals.producto.nombreProducto %>" />
                                                            <!-- locals.nombreTabla.propiedad  -->
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label for="Descripcion">Descripcion del Producto:
                                                            <input id="descripcionProducto" name="descripcionProducto"
                                                                type="text"
                                                                value="<%= locals.producto.descripcionProducto %>" />
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label for="Foto_Producto">Foto del Producto:
                                                            <input id="fotoProducto" name="fotoProducto" type="file"
                                                                accept="image/*"
                                                                value="<%=locals.producto.fotoProducto %>" />
                                                        </label>
                                                    </div>

                                                    <div>
                                                        <input type="submit" value="Guardar edición"></input>
                                                    </div>
                                                </form>
                                                <% } %>
                                                    <% } else { %>
                                                        <div>
                                                            <p><a href="/users/login" class="Aviso">Necesitas estar
                                                                    logueado a tu cuenta
                                                                    para poder editar!</a></p>
                                                        </div>
                                                        <% } %>
                                    </h2>
                                </div>
                            </div>
                            <!-- footer -->
                            <%- include('./partials/footer.ejs') %>
                                <!-- /footer -->
    </body>

</html>