<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- product detail -->
	
	<div class="container products-wrapper">
		<% for(let i=0; i<1; i ++) { %>
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= db.productos[i].nombreProducto %>
			</h2> 
			<p class="product-detail-description">
				<a href="/products/add">Editar</a>
			</p>
		</div>
	
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img class="product-detail-img" src="<%= db.productos[i].fotoProducto %>"
						alt="<%= db.productos[i].nombreProducto %>">
					<p class="product-detail-description">
						Descripción del producto: <%= db.productos[i].descripcionProducto %></p>
				</article>
				
				<% for(let u=0; u<3; u++) { %>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img class="comment-user-img" src="<%= db.productos[i].comentarios_Producto[u].img_perfil %>">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile"> Usuario: <%= db.productos[i].comentarios_Producto[u].nombre_usuario %> </a> </strong>
								<%= db.productos[i].comentarios_Producto[u].texto_comentario %> 
								</p>
							</div>
						</article>
					</section>
					
					<hr>
				</div>
				<% } %>
				<form class="form" action="/products/detalle/" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
			</div>
		</div>
		<% } %>

	</div>

	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

</body>	
</html>