<!DOCTYPE html>
<html lang="es">
     <!-- Include Head -->
        <%- include('./partials/head.ejs') %>
    
    <body>
        <!-- Header -->
        <%if (locals.user !=undefined) { %>
			<%- include ('./partials/headerLogueado') %>
		<% }else{%>
			<%- include ('./partials/headerDeslogueado')%> <!--hacer un headerDeslogueado-->
		<% } %>
        <!-- /Header -->
             
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Editar productos</h2>

				</div>
				<!-- Show the "ultimos" products -->
                 <% if (locals.user != undefined) { %>
                    <form class="login" action="/products/edit" method="POST"> 
                        <!-- //capaz va solo /edit o /product-edit ? -->
                         
                         <label for="Nombre_Producto">Nombre del Producto: 
                            <input id="Nombre_Producto" name="nombreProducto" type="text" value="<%= producto.nombreProducto %>"/></label>
                           
                            <% if (locals.errors && errors.nombreProducto){ %>
                                <p> <%= errors.nombreProducto.msg %> </p>
                            <% } %>
                  
                         <label for="Descripcion">Descripcion del Producto: 
                            <input id="Descripcion" name="descripcionProducto" type="text"  value="<%= producto.descripcionProducto %>"/></label>
                            <% if (locals.errors && errors.descripcionProducto){ %>
                                <p> <%= errors.descripcionProducto.msg %> </p>
                            <% } %>

                         <label for="Foto_Producto">Foto del Producto: 
                            <input id="Foto_Producto" name="fotoProducto" type="file" value="<%=producto.fotoProducto %>"/></label>
                            <% if (locals.errors && errors.fotoProducto){ %>
                                <p> <%= errors.fotoProducto.msg %> </p>
                            <% } %>

                         <label for="Precio_Producto">Precio del Producto: 
                            <input id="Precio_Producto" name="Precio_Producto" type="number"  value="<%=producto.Precio_Producto %>"/></label>
                            <% if (locals.errors && errors.Precio_Producto){ %>
                                <p> <%= errors.Precio_Producto.msg %> </p>
                            <% } %>

                        <input class="done" type="submit" value="Submit" />

                    </form>
                <% } else %>
                    <p><a href="/user/login" class="Aviso">Necesitas estar logueado a tu cuenta para poder editar!</a></p> 

    <body>

    
</body>
</html>