<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

	<body>
		<!-- Header -->
		<%if (locals.user !=undefined) { %>
			<%- include ('./partials/headerLogueado') %>
				<% } else{%>
					<%- include ('./partials/headerDeslogueado')%>
						<% } %>

							<!-- /Header -->
							<!-- Datos del usuario -->
							<section class="info-usuario container products-wrapper">
								<div class="row">
									<div class="img-container offset-3 col-2">
										<img src="/images/users/<%= usuario.fotoPerfil !== '' ? usuario.fotoPerfil : 'profile-pic.jpeg' %>"
											alt="foto de perfil" class="foto-perfil">

									</div>
									<div class="data-container col-6">
										<div class="d-flex align-items-center ">
											<h1 class="main-title-username">
												<p>@<%= usuario.usuario %>
												</p>
											</h1>

											<!-- Para que solo aparezca el boton de editar si es el perfil propio, y "seguir" si es ageno" -->

											<%if (locals.user==undefined) { %>
												<a class="btn mt-3 ml-4" href="">SEGUIR</a>
												<%} else {%>
													<% if (locals.user.usuario==usuario.usuario ) { %>
														<a href="/users/edit/<%=usuario.id%>">
															<i class="fas fa-cog mt-3 ml-4"></i>
														</a>

														<%} else { %>
															<a class="btn mt-3 ml-4" href="">SEGUIR</a>
															<%}%>
																<%}%>
										</div>

										<div>
											<ul class="">
												<li>
													<%= productos.length%> productos
												</li>
												<li>200 seguidores</li>
												<li>300 comentarios</li>
											</ul>
										</div>
									</div>
								</div>
							</section>
							<!-- /Datos del usuario -->

							<!-- Mis productos -->
							<div class="container products-wrapper">
								<div class="row">
									<div class="col-12">
										<h2 class="products-title">Mis productos</h2>
									</div>
									<!-- Show mis productos -->
									<% for (let i=0; i<productos.length; i++) {%>
										<div class="col-12 col-sm-6 col-lg-3">
											<section class="product-box">
												<a href="/products/detalle/<%= productos[i].id %>">
													<figure class="product-box_image">
														<img class="imgalt"
															src="/images/<%= productos[i].fotoProducto %>"
															alt="<%= productos[i].nombreProducto %>">
													</figure>
													<article class="product-box_data">
														<h2>
															<%= productos[i].nombreProducto %>
														</h2>
														<p>
															<%= productos[i].descripcionProducto %>
														</p>
														<p> Comentarios:
															<%= productos[i].comentarios.length %>
														</p>
													</article>
												</a>
											</section>
										</div>
										<% } %>
								</div>
							</div>
							<!-- /Mis productos -->


							<!-- footer -->
							<%- include('./partials/footer.ejs') %>
								<!-- /footer -->
	</body>

</html>